<div class='p-[15px] flex w-full flex-col items-end'>
  <p class='font-Roboto text-[#8A898E] font-medium ml-7 mr-56'>{{author}}</p>
  <div class='bg-[#2E9DFB] text-white rounded-[35px] w-[297px] px-[25px] py-[18px] relative
  before:content-[""] before:absolute before:z-[0] before:bottom-[0] before:left-[96.4%]
  before:h-[20px] before:w-[15px] before:bg-[#2E9DFB] before:rounded-bl-[15px]
  after:content-[""] after:absolute after:z-[0] after:bottom-[3px] after:left-[100%]
  after:w-[9px] after:h-[20px] after:bg-white after:rounded-bl-[10px]
  after:rotate-[-50deg] before:rotate-[-35deg] after:rounded-tl-[50px] after:rounded-bl-[40px]
'>
    <p class='font-Roboto w-[245px] leading-[140.66%]'>
      {{message}}
    </p>
  </div>
</div>

